html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
div {
    width: 50%;
    height: 50%;
    float: left
}
.drumpad:active {
}

#sound1 {
    background: rgb(189, 93, 93);
}
#sound2 {
    background: rgb(127, 189, 112);
}
#sound3 {
    background: rgb(93, 183, 189);
}
#sound4 {
    background: rgb(248, 246, 132);
}

#sound1:active {
    background: rgb(206, 146, 146);
}
#sound2:active {
    background: rgb(185, 228, 174);
}
#sound3:active {
    background: rgb(176, 235, 240);
}
#sound4:active {
    background: rgb(255, 254, 181);
}